/* styles/LoginPage.module.css */

.container {
    width: 100%;
    flex-direction: row;
  padding: 10px;
  display: flex;
  align-items: center;
  }

  .item {
    width: 100px;
  padding: 10px;
    text-align: left;
  }
  
  
  
  
  