// _variables.scss

// styles/variables.scss
$white: #EDEDED;
$orange: #FFA41B;
$background: #0d0d0d;

// ...other Bootstrap color variables you want to change

// Update or add colors to the Bootstrap theme
$theme-colors: (
    "orange": $orange,
    "white": $white,
    "background": $background,
    // ...
);
// Import Bootstrap's Sass after your custom variables
@import "../node_modules/bootstrap/scss/bootstrap"; // Adjust the path if needed